---
import '../styles/global.css'
import Pie from '../components/Pie.astro';
import Cabezera from '../components/Cabezera.astro';


const pagetitle="Astro By Rubén"

const identidad = {
	nombre: 'Ruben',
	apellido: 'Caballero',
	pais: 'España',
	hobbies : ['Games', 'Comics', 'Literatura', 'Música'],
};

const conocimientos = ['artes', 'programación', 'cocina', 'karate'];
const finalizado = true;
const objetivo = 2;
const conocimientoColor = 'yellow';
const tamañoFuente='3rem';
const grosorFuente='bolder';

const link=['/','/acercade/', '/posts/post01', '/posts/post02'];
const seccion=['Inicio', 'Acerca de', 'Post01', 'Post02']
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pagetitle}</title>
	</head>
	<body>
		<Cabezera pagina="HOME" link{link} seccion{seccion}/>
		<main>
			<div>
				<h3>Mi presentación:</h3>
				<ul>
					<li>
						Mi nombre es {identidad.nombre}
					</li>
					<li>
						Soy de {identidad.pais}.
					</li>
					<li>Mis pasatiempos preferidos son: 
						<ol>
							{identidad.hobbies.length >= 4 &&
							<li>{identidad.hobbies[0]}.</li>
							<li>{identidad.hobbies[1]}.</li>
							<li>{identidad.hobbies[2]}.</li>
							<li>{identidad.hobbies[3]}.</li>}
						</ol>
					</li>
				</ul>
				<h2>Estudie Cuenca y tengo conocimientos en diversos ambitos laborales como:</h2>
				<ul>
					{conocimientos.map((conocimiento) => <li class="conocimiento">{conocimiento}</li>)}
					<!--<li>{conocimientos[0]}.</li>
					<li>{conocimientos[1]}.</li>
					<li>{conocimientos[2]}.</li>
					<li>{conocimientos[3]}.</li>-->
				</ul>
			</div>
			{finalizado && <p>He finalizado la pagina</p>}
			{objetivo == 2 ? <p>Mi objetivo es comer a las 2</p> : <p>Mi objetivo no se ha cumplido</p>}
		</main>
		<Pie/>
		<script>
			document.querySelector('.hamburguesa').addEventListener('click',() =>{
				document.querySelector('.nav-links').classList.toggle('expanded');
			});
		</script>
		<style define:vars={{conocimientoColor, tamañoFuente, grosorFuente}}>
			h1{
				color: purple;
				font-size: var(--tamañoFuente);
			}
			.conocimiento{
				color:var(--conocimientoColor);
				font-weight: var(--grosorFuente);
			}
		</style>
	</body>
</html>
