---
import Hamburguesa from './Hamburguesa.astro';
interface Props{
    pagina:string;
    link:string[];
    seccion:string[]
}

const {pagina,link,seccion }=Astro.props
---
<header>
    <h1>{pagina}</h1>
    <Hamburguesa />
    <nav class="nav-links">
        <a href={link[0]}>{seccion[0]}</a>
        <a href={link[1]}>{seccion[1]}</a>
        <a href={link[2]}>{seccion[2]}</a>
        <a href={link[3]}>{seccion[3]}</a>
    </nav>
    
</header>
