---
import Hamburguesa from './Hamburguesa.astro';
interface Props{
    pagina:string;
    link:string[];
    seccion:string[]
}

const {pagina,link,seccion }=Astro.props
---
<header>
    <h1>{pagina}</h1>
    
    <nav class="nav-links">
        <a href={link[0]}>{seccion[0]}</a>
        <a href={link[1]}>{seccion[1]}</a>
        <a href={link[2]}>{seccion[2]}</a>
        <a href={link[3]}>{seccion[3]}</a>
    </nav>
    <Hamburguesa />
</header>

<style>
.nav-links{
    width:100%;
    top: 5rem;
    left: 48px;
    background-color: rgb(190, 190, 190);
    display:none;
    margin:0 ;
}
.nav-links a{
    display:block;
    text-align: center;
    padding:10px 0;
    text-decoration:none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}
.nav-links a:hover,
.nav-links a:focus{
    background-color: #cacaca;
}
@media screen and (min-width:636px){
    .nav-links{
        margin-left:5em;
        display:block;
        position:static;
        width:auto;
        background: none;
    }
    .nav-links a{
        display:inline-block;
        padding: 15px 20px;
    }
}
</style>