---

const allpost= await Astro.glob('../pages/posts/*.md')
console.log(allpost)
const {frontmatter} = Astro.props

---

<h1>{frontmatter.title}</h1>
<p>Autor: {frontmatter.author}</p>
<p>Publicado el {frontmatter.pubDate.toString().slice(0,10)}</p>
<img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
<ul>
    {allpost.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li> )}
</ul>
<slot/>